@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);

:root {
    --cor-principal: #FD6DC5;
    --cor-secundaria: #FF78A4;
    --cor-3: #FF9183;
    --cor-4: #FFB36A;
    --cor-5: #FFD761;
    --cor-6: #F9F871;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
